@model MVC.Models.OrderProductWithCategoryListModel

@{
    ViewData["Title"] = "Index";
}
<section class="p-3 pt-5">
    <div class="container mt-5 mb-5 border rounded bg-light p-3">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <br><h1>Lista usług</h1>
                    <p>Promocje naliczane po przeliczeniu koszyka</p>
                </div>
            </div>
        </div>
    </div>
</section>
@using (Html.BeginForm("Recalculate", "Order"))
@if (Model.CategoryWithProducts != null)
{
    @for (int i = 0; i < Model.CategoryWithProducts.Count(); i++)
    {
            <section class="p-3">
                <div class="container mt-5 mb-5 border rounded bg-light p-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-header text-center pb-5">
                                <br><h2>@Html.TextBoxFor(c => Model.CategoryWithProducts[i].Name, new { @class = "bg-light border-0", @readonly = "true", @size = Model.CategoryWithProducts[i].Name.Length - 3 } )</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-4">
                                        <p>Nazwa</p>
                                    </th>
                                    <th class="col-6">
                                        <p>Opis</p>
                                    </th>
                                    <th class="col-1">
                                        <p>Czas (min)</p>
                                    </th>
                                    <th class="col-1">
                                        <p>Cena (zł)</p>
                                    </th>
                                    <th class="col-1">
                                        <p>Zamów</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int j = 0; j < Model.CategoryWithProducts[i].Products.Count(); j++)
                                {
                                    @Html.HiddenFor(p => Model.CategoryWithProducts[i].Products[j].Id)
                                    <tr>
                                        <td>
                                            @Html.TextBoxFor(p => Model.CategoryWithProducts[i].Products[j].Name, new { @class = "bg-light border-0", @readonly = "true", @size = Model.CategoryWithProducts[i].Products[j].Name.Length - 3 } )
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(p => Model.CategoryWithProducts[i].Products[j].Description, new { @class = "bg-light border-0", @readonly = "true", @size = Model.CategoryWithProducts[i].Products[j].Description.Length - 3 } )
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(p => Model.CategoryWithProducts[i].Products[j].Duration, new { @class = "bg-light border-0", @readonly = "true", @size = 10 } )
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(p => Model.CategoryWithProducts[i].Products[j].Price, new { @class = "bg-light border-0", @readonly = "true", @size = 10 } )
                                        </td>
                                        <td>
                                            @Html.CheckBoxFor(p => Model.CategoryWithProducts[i].Products[j].InOrder)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

    }
    <section class="p-3">
        <div class="container col-4 mt-5 mb-5 border rounded bg-light p-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <br><h2>Podsumowanie</h2><br><br>
                            <h5>Kod promocyjny<br /><br />  @Html.TextBoxFor(c => Model.Code)</h5><br>
                        <input type="submit" value="Przelicz" class="btn btn-dark" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}