@model IEnumerable<MVC.Models.OrderInListModel>

@{
    ViewData["Title"] = "Do potwierdzenia";
}
<section class="p-3 pt-5">
    <div class="container mt-5 mb-5 border rounded bg-light p-3">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <br><h2>Zlecenia do potwierdzenia</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @if (Model != null && Model.Count() > 0)
            {
                <div class="accordion" id="orders">
                    @foreach (var order in Model)
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="@("heading"+order.Id)">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="@("#collapse"+order.Id)" aria-expanded="false" aria-controls="@("collapse"+order.Id)">
                                    <table class="table">
                                        <tbody>
                                            <tr class="row text-center">
                                                <td class="col-1">
                                                    Zlecenie<br>@Html.DisplayFor(o => order.Id)
                                                </td>
                                                <td class="col-2">
                                                    Cena (zł)<br>@Html.DisplayFor(o => order.Price)
                                                </td>
                                                <td class="col-3">
                                                    Data rozpoczęcia<br>@Html.DisplayFor(o => order.DateStart)
                                                </td>
                                                <td class="col-3">
                                                    Data zakończenia<br>@Html.DisplayFor(o => order.DateEnd)
                                                </td>
                                                <td class="col-1">
                                                    Potwierdzono<br>@Html.DisplayFor(o => order.IsConfirmed)
                                                </td>
                                                <td class="col-1">
                                                    Wykonano<br>@Html.DisplayFor(o => order.IsDone)
                                                </td>
                                                <td class="col-1">
                                                    Opłacono<br>@Html.DisplayFor(o => order.IsPaid)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </button>
                            </h2>
                            <div id="@("collapse"+order.Id)" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#orders">
                                <div class="accordion-body">
                                    @if (order.orderProducts != null && order.orderProducts.Count() > 0)
                                    {
                                        <table class="table text-center">
                                            @foreach (var product in order.orderProducts)
                                            {
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            Numer usługi: @Html.DisplayFor(p => product.ProductId)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(p => product.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(p => product.Duration) min
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(p => product.Price) zł
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            }
                                        </table>
                                        <div class="text-center">
                                            @if (!order.IsConfirmed)
                                            {
                                                <a class="btn btn-dark" asp-controller="Order" asp-action="Confirm" asp-route-id="@order.Id">Potwierdź</a>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</section>